<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
      <div class="delete-container">
          <h3>Delete this post</h3>
          <div class="message">
          <p class="message-author"><%= message.author.username %></p> 
          <p><%= message.date_formatted %></p>
          <div class="message-content">
            <h3 class="message-title"><%= message.title %></h3>
            <p class="message-text"><%= message.text %></p>
          </div>
        </div>
          <form class="delete-message-form" action="<%= '/delete-message/' + userMessageId %>" method="POST">
              <label for="delete">Are you sure you want to delete this post?</label>
              <div class="delete-message-button">
                <button type="submit" class="button">Yes</button>
                <a href="/" class="button">No</a>
            </div>            
          </form>
      </div>
    </div>
  </body>
</html>